{% extends 'base.html' %}
<body>
    {% block menu %}     
    {% endblock %}
{% block content %}
    <div class="container">
    <h1>Список объявлении</h1>
        {% if not adverts %}
            <h2>В данный момент объявления отсутствуют</h2>
        {% endif %}
        {% for advert in adverts %}
        <div class="card mb-2" style="width: 18rem;">
            <div class="card-body mb-2">
                <img class="avatar" src="{{ advert.picture.url }}" width="250" height="250" alt="user picture">
            <h5 class="card-title">{{ advert.title }}</h5>
            {% if price %}
            <p class="card-text">{{ advert.price }}</p>
            {% else %}
            <p class="card-text">Цена договорная</p>
            {% endif %}
            <a href="{% url 'advert:advert_delete' advert.id %}">Удалить</a>
            <a href="{% url 'advert:advert_view' advert.id %}">Посмотреть</a>
            </div>
        </div>
        {% endfor %}     
    </div>   
{% endblock %}
</body>
</html>