{% if not adverts %}
<h2 class="text-center">У пользователя нет объявлений</h2>
{% endif %}

{% for advert in adverts %}
<br>
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title"><a href="{% url 'webapp:project_detail' project.pk %}">{{ project.name }}</a></h3>
    <p>({{ advert.title }})</p>
    {% if perms.advert.change_advert and request.user in advert.user.all %}
        <p class="card-title"><a href="{% url 'advert:advert_edit' advert.pk %}">Редактировать</a></p>
    {% endif %}
    {% if perms.advert.delete_advert and request.user in advert.user.all %}
        <p class="card-title"><a href="{% url 'advert:advert_delete' advert.pk %}">Удалить</a></p>
    {% endif %}
    </div>
</div>
{% endfor %}
{% if is_paginated %}
 {% include 'partial/paginate.html' %}
{% endif %}