{% if not adverts %}
<h2 class="text-center">У пользователя нет объявлений</h2>
{% else %}

{% for advert in adverts %}
<div class="card mb-2" style="width: 18rem;">
    <div class="card-body mb-2">
        <img class="avatar" src="{{ advert.picture.url }}" width="250" height="250" alt="user picture">
    <h5 class="card-title">{{ advert.title }}</h5>
    <a href="{% url 'accounts:user_profile' advert.user.pk %}">{{ advert.user }}</a>
    {% if price %}
    <p class="card-text">{{ advert.price }}</p>
    {% else %}
    <p class="card-text">Цена договорная</p>
    {% endif %}
    {% if user == advert.user %}
    <a href="{% url 'advert:advert_delete' advert.id %}">Удалить</a>
    {% endif %}
    <a href="{% url 'advert:advert_view' advert.id %}">Посмотреть</a>
    </div>
</div>
{% endfor %}
{% endif %}